<!--
  Generated template for the ContacteazaNePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>contacteaza-ne</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="ContactForm" (submit)="contact(ContactForm)">
    <ion-list>
        <ion-item>
          <ion-label floating>Titlu</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-icon *ngIf="!isValid('title')" class="errorIcon" name="warning"></ion-icon>
        <ion-item>
          <ion-label floating>Nume</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-icon *ngIf="!isValid('name')" class="errorIcon" name="warning"></ion-icon>
        <ion-item>
            <ion-label floating>Telefon</ion-label>
            <ion-input type="number" formControlName="phone_number"></ion-input>
          </ion-item>
          <ion-icon *ngIf="!isValid('phone_number')" class="errorIcon" name="warning"></ion-icon>
          <ion-item>
              <ion-label floating>Judet</ion-label>
              <ion-input type="text" formControlName="county"></ion-input>
            </ion-item>
            <ion-icon *ngIf="!isValid('county')" class="errorIcon" name="warning"></ion-icon>
            <ion-item>
                <ion-label floating>Oras</ion-label>
                <ion-input type="text" formControlName="town"></ion-input>
              </ion-item>
              <ion-icon *ngIf="!isValid('town')" class="errorIcon" name="warning"></ion-icon>
              <ion-item>
                  <ion-label floating>E-mail</ion-label>
                  <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <ion-icon *ngIf="!isValid('email')" class="errorIcon" name="warning"></ion-icon>
                <ion-item>
                    <!-- <ion-label floating>E-mail</ion-label> -->
                    <ion-textarea name="description" placeholder="Introdu aici continutul mesajului tau." formControlName="content"></ion-textarea>
                  </ion-item>
      </ion-list>
      <button ion-button icon-end round full type="submit" [disabled]="!ContactForm.valid">
          Trimite mesaj
           <ion-icon name="paper-plane"></ion-icon>
         </button>
        </form>
</ion-content>
