page-sesizarile {
    .card-header{
        font-size: 12px !important;
        font-weight: 600;
    }
    // .card-header span{
    //     color:#008DC1;
    // }
    .card-content p{
        float: right;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        color:grey;
    }
    .toolbar  ion-icon{
        font-size: 25px;
        color:#008DC1;
    }

}

