<!--
  Generated template for the NoutatiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>noutati</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>


  <ion-card (click)="detail(notify)" *ngFor="let notify of notifications">
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="notify.association.avatar.image_url">
        </ion-avatar>
        <h2>{{notify.association.name}}</h2>
        <!-- <p>Webnesday, Aug 22, 2016 1:42 AM</p> -->
        <p>{{notify.createdAt | date:'medium'}}</p>
      </ion-item>
    </ion-list>
    <ion-card-header>
     {{notify.title}}
    </ion-card-header>
    <ion-card-content>
      {{notify.content | slice:0:120}}
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="currentPage <= lastPage && currentPage < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>