page-adauga-comentariu {
    .inapoi{
        background: #FFBC00;
        color:#ffffff;
    }
    .inapoi.activated{
        background: #FFBC00 !important;
        
    }
    .item.item-block .item-inner{
        border:0 !important
    }
}
