<!--
  Generated template for the PetitionDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{petitionDetail?.title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-label *ngIf='petitionDetail?.status == "0"' class="procesare">Procesare</ion-label>
        <ion-label *ngIf='petitionDetail?.status == "1"' class="procesare">Acceptat</ion-label>
        <ion-label *ngIf='petitionDetail?.status == "2"' class="procesare">Refuzat</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
      <ion-item>
          <ion-label class="address" style="font-size: 15px !important;">
            <span>{{petitionDetail?.address}}</span>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="color:grey;" [innerHtml]="petitionDetail?.body">
          </ion-label>
        </ion-item>
        <ion-item>
          <div class="mapouter" #map id="map" style="height:150px;"></div>
          <button ion-button block icon-end (click)="adaugaComment()">
              Adauga Comentariu
              <ion-icon style="color:#fff !important;font-size: 25px !important;" name="exit"></ion-icon>
            </button>
        </ion-item>
        <ion-item>
          <img src="{{petitionDetail?.attachmentsNew[0].image_url}}" />
        </ion-item>
        <ion-item>
          <ion-label><span class="address">Descarca fisierele atasate</span><ion-icon name="cloud-download"></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let attachment of petitionDetail?.attachmentsNew">
          <ion-label (click)="Inappbrowser(attachment.image_url)"><span class="address">{{attachment.original_filename}}</span></ion-label>
        </ion-item>
        <!-- <ion-item>
          <ion-label><span class="address">Image2.jpg</span></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><span class="address">Image3.jpg</span></ion-label>
        </ion-item> -->
      </ion-list>


    </ion-card-content>
  </ion-card>
</ion-content>
