page-trimite-sesizare {
.cloudupload{
    width: 100%;
}
textarea{
    height: 120px;
  }
  .text-input-wp{
    border:none !important;
  }
  .list > .item-block:first-child{
    border-top:0 !important;
  }
  .list > .item-block:last-child, .list > .item-wrapper:last-child .item-block{
    border-bottom:0  !important;
  }
  .list .item-block .item-inner {
    border-bottom: 0.55px solid #00A8E9;
}

.list .input-has-focus{
    box-shadow:none !important;
}
.label{
    color:#000 !important;
  }

}
