page-creeaza {
    .list > .item-block:last-child, .list > .item-wrapper:last-child .item-block{
        border-bottom:0  !important;
      }
      .content button{
        width: 100%;
        text-transform: capitalize;
      }
      .list .label{
        font-size: 15px !important;
        // font-weight: 600 !important;
      }
      .list > .item-block:first-child{
        border-top:0 !important;
      }
      .list .item-block .item-inner {
        border-bottom: 0.55px solid #00A8E9;
    }
    .list > .item-block:last-child .item-inner, .list > .item-wrapper:last-child .item-block .item-inner{
      border-bottom: 0.55px solid #00A8E9 !important;
    }
    .text-input-wp{
      border:none !important;
    }
    .label{
        color:#000 !important;
      }
      .terms .item-inner{
          border-bottom: 0px !important;
      }
      .list > .terms:last-child .item-inner, .list > .item-wrapper:last-child .terms .item-inner{
        border-bottom: 0 !important;
      }
    //   .checkbox-wp-dark .checkbox-checked{
    //     border-color: #00A8E9;
    //     background-color: #00A8E9;
    //   }
      .checkbox .checkbox-checked{
        border-color: #00A8E9;
        background-color: #00A8E9;
      }
     
}
